.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: blue;
    color: snow;
}
.Button:hover {
    background-color: red;
    cursor: pointer;
}