.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.users {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}