.SingleUserDetails {
    width: 500px;
    height: 500px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b2e3cf;

}
.SingleUserDetails:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);

}