body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header {
    width: 100%;
    height: 100px;
    background: #34495e;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px;
    font-family: sans-serif ;
}
.Header a{
    text-decoration: none;
    color: antiquewhite;
    margin: 10px;

}
.Header a[class='active'] {
    color:red;
}


