.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.cats{
  display: flex;
}
.dogs{
  display: flex;
}
.data{
  display: flex;
 justify-content: ;
}
.dog{
  width: 200px;
  height: 200px;
}
.cat{
  width: 200px;
  height: 200px;
}